@model PokemonVM

@{
  ViewData["Title"] = "Edit";
}

<h4>Editing : @Model.Name</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group mb-3">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" required />
        <span asp-validation-for="Image" class="text-danger"></span>
      </div>
      <div class="form-group mb-3">
        <select class="form-select form-select-sm" asp-for="RegionId" required>
          <option selected>Regions...</option>
          @foreach (var item in Model.Regions) {
            <option value="@item.Id">@item.Name</option>
          }
        </select>
      </div>
      <div class="form-group mb-3">
        <select class="form-select form-select-sm" asp-for="PrimaryTypeId" required>
          <option selected>First Type...</option>
          @foreach (var item in Model.Types) {
            <option value="@item.Id">@item.Name</option>
          }
        </select>
      </div>
      <div class="form-group mb-3">
        <select class="form-select form-select-sm" asp-for="SecondaryTypeId">
          <option selected>Second Type...</option>
          @foreach (var item in Model.Types) {
            <option value="@item.Id">@item.Name</option>
          }
        </select>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

